* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: $font-color;
    text-decoration: underline;
}

.title p {
    font-style: italic;
    color: $font-color;
    text-decoration: underline;
}

.title {
    color: $font-color;
}

html {
    font-size: 100%;
}

body {
    line-height: $main-line-height;
    color: $font-color;
}

p {
    font-size: $main-font-size;
    margin-bottom: $magic-number;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
